* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #000000;
  --bg-task-color: #2a2a2a;
  --bg-button-color: #1a1a1a;
  --delete-color: #ff4d4d;
  --primary-text-color: #f4f4f4;
  --bg-btn-done: #008000;

  /* padding */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border-radius */
  --border-s: 5px;
  --border-m: 10px;
  --border-l: 15px;
  --border-xl: 20px;
  --border-xxl: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

nav button {
  background-color: #1a1a1a;
  border: none;
  outline: none;
  color: var(--primary-text-color);
  cursor: pointer;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-m);
  -webkit-border-radius: var(--border-m);
  -moz-border-radius: var(--border-m);
  -ms-border-radius: var(--border-m);
  -o-border-radius: var(--border-m);
}

section {
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: var(--padding-xxl);
}

section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--padding-m);
  border-radius: var(--border-s);
  padding: var(--padding-xl);
  -webkit-border-radius: var(--border-s);
  -moz-border-radius: var(--border-s);
  -ms-border-radius: var(--border-s);
  -o-border-radius: var(--border-s);
  transition: all 7s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 7s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.05;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-l);
}

section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-xl);
  border-radius: var(--border-m);
  -webkit-border-radius: var(--border-m);
  -moz-border-radius: var(--border-m);
  -ms-border-radius: var(--border-m);
  -o-border-radius: var(--border-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}

section .task-column .task button {
  align-self: self-end;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--border-s) var(--border-m);
  border-radius: var(--padding-s);
  -webkit-border-radius: var(--padding-s);
  -moz-border-radius: var(--padding-s);
  -ms-border-radius: var(--padding-s);
  -o-border-radius: var(--padding-s);
  background-color: var(--delete-color);
  color: var(--primary-text-color);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(5px);
}

.modal .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);
  border-radius: var(--border-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  -webkit-border-radius: var(--border-m);
  -moz-border-radius: var(--border-m);
  -ms-border-radius: var(--border-m);
  -o-border-radius: var(--border-m);
  z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m);
  border-radius: var(--border-s);
  -webkit-border-radius: var(--border-s);
  -moz-border-radius: var(--border-s);
  -ms-border-radius: var(--border-s);
  -o-border-radius: var(--border-s);
}

.modal .center button {
  background-color: var(--bg-btn-done);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  width: fit-content;
  align-self: center;
  border-radius: var(--border-s);
  -webkit-border-radius: var(--border-s);
  -moz-border-radius: var(--border-s);
  -ms-border-radius: var(--border-s);
  -o-border-radius: var(--border-s);
}
